<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>218152300274-16hgi601v39to9ltnnhbb4g0ev28q119.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.218152300274-16hgi601v39to9ltnnhbb4g0ev28q119</string>
	<key>API_KEY</key>
	<string>AIzaSyCrShsGzoxqyw-ToDG1eIk0eRS7dmwngyM</string>
	<key>GCM_SENDER_ID</key>
	<string>218152300274</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barileva.Swifty-ATM</string>
	<key>PROJECT_ID</key>
	<string>swifty-atm</string>
	<key>STORAGE_BUCKET</key>
	<string>swifty-atm.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:218152300274:ios:e7f2da7bb3499fbe</string>
	<key>DATABASE_URL</key>
	<string>https://swifty-atm.firebaseio.com</string>
</dict>
</plist>